{% for link in thunderbolt_links %}
ACTION=="move", SUBSYSTEM=="net", KERNEL=="{{ link.link_name }}", RUN+="{{ thunderbolt_udev_script_dir }}/pve-{{ link.link_name }}.sh"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="{{ link.link_name }}", RUN+="{{ thunderbolt_udev_script_dir }}/pve-{{ link.link_name }}.sh"
{% endfor %}
