ip forwarding
ipv6 forwarding

{% for interface in thunderbolt_fabric_interfaces %}
interface {{ interface }}
 ip router openfabric {{ thunderbolt_fabric_id }}
 ipv6 router openfabric {{ thunderbolt_fabric_id }}
 openfabric hello-interval {{ thunderbolt_fabric_hello_interval }}
 openfabric hello-multiplier {{ thunderbolt_fabric_hello_multiplier }}
 openfabric csnp-interval {{ thunderbolt_fabric_csnp_interval }}
 openfabric psnp-interval {{ thunderbolt_fabric_psnp_interval }}
exit

{% endfor %}
interface lo
 ip router openfabric {{ thunderbolt_fabric_id }}
 ipv6 router openfabric {{ thunderbolt_fabric_id }}
 openfabric hello-interval {{ thunderbolt_fabric_hello_interval }}
 openfabric hello-multiplier {{ thunderbolt_fabric_hello_multiplier }}
 openfabric csnp-interval {{ thunderbolt_fabric_csnp_interval }}
 openfabric psnp-interval {{ thunderbolt_fabric_psnp_interval }}
 openfabric passive
exit

router openfabric {{ thunderbolt_fabric_id }}
 net {{ thunderbolt_fabric_net }}
 lsp-gen-interval {{ thunderbolt_fabric_lsp_gen_interval }}
exit
!
