[defaults]
inventory = ./inventory/staging.ini
host_key_checking = false
retry_files_enabled = false
forks = 4

[ssh_connection]
pipelining = True
host_key_checking = false
host_key_auto_add = True
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

