[defaults]
inventory = ./inventory/environments/staging.ini
host_key_checking = false
retry_files_enabled = false
forks = 4

[ssh_connection]
pipelining = true
host_key_checking = false
host_key_auto_add = true
ssh_args = -C -o ControlMaster=auto -o ControlPath=/tmp/ansible-cp/%C -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

