[defaults]
inventory = ./proxmox.yml
host_key_checking = false
retry_files_enabled = false
forks = 4

[ssh_connection]
pipelining = True
host_key_checking = false
host_key_auto_add = True
ssh_args = -C -o ControlMaster=auto -o ControlPath=/tmp/ansible-cp-%C -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

