# {{ ansible_managed }}
[Unit]
Description=Vault Agent for the Ceph admin gateway certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/vault agent -config={{ ceph_admin_gateway_agent_config }}
Restart=on-failure
RestartSec=10s
User=root
Group=root

[Install]
WantedBy=multi-user.target
